h1 {
    text-align: center;
    font-family:'Open Sans';
    padding-bottom: 50px;
    padding-top: 20px;
    color: white;
    /* background-color: #cf003d; */
    border: 0px;
    margin: 0px;
    font-weight: 400;
}

td {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    font-weight: 200;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-family:'Open Sans';
}

.add-button{
    background-color: green;
    border: 0px;
}

.add-button:hover {
    background-color: green;
}

button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.subtract-button{
    background-color: red;
    border: 0px;
}

.subtract-button:hover {
    background-color: red;
}

th {
    font-weight: 900;
}

.dorm_dining_table {
    position: center;
    /* padding-left: 100px; */
}

body {
    margin: 0px;
    font-family:'Open Sans';
}

.header {
    padding-top: 20px;
    background-color: #cf003d;
}

.footer {
    padding: 20px;
    background-color: #cf003d;
    font-size: 12px;
    margin: 0px;
}

.mx_logo {
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.yellow-background-td {
    background-color: yellow;
}

.red-background-td {
    background-color: red;
}

.green-background-td {
    background-color: green;
}
